// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
// @import "./bootstrap/scss/bootstrap";
@import "bootstrap/scss/bootstrap";

@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";
